@{
    ViewData["Title"] = "HTML Elemennts";
}



<!-- Next Button at Top Right -->
<div class="d-flex justify-content-between">
    <a asp-controller="HTMLSection" asp-action="HTMLBasic" class="btn btn-primary">&laquo; Previous</a>
    <a asp-controller="HTMLSection" asp-action="HTMLBasic" class="btn btn-primary">Next &raquo;</a>
</div>