<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>

	<!-- App favicon -->
	<link rel="shortcut icon" href="~/AdminTemplate/assets/images/favicon.ico">

	<!-- Bootstrap Css -->
	<link href="~/AdminTemplate/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
	<!-- Icons Css -->
	<link href="~/AdminTemplate/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
	<!-- App Css-->
	<link href="~/AdminTemplate/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

	<!--custom Css-->
	<link href="~/css/customstyle.css" rel="stylesheet" />
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<style>
		pre {
			background-color: #f8f9fa;
			padding: 10px;
			border-radius: 5px;
			overflow-x: auto;
		}
	</style>

</head>



<body data-sidebar="dark" data-layout-mode="light">
	 
	<!-- Begin page -->
	<div id="layout-wrapper">

		<header id="page-topbar">
			<div class="navbar-header">
				<div class="d-flex align-items-center">

					<!-- LOGO -->
					<div class="navbar-brand-box">
						@* <a asp-controller="Home" asp-action="Index" class="logo logo-dark">
							<span class="logo-sm">
								<img src="#" alt="Logo" style="height:50px">
							</span>
							<span class="logo-lg">
								<img src="#" alt="Logo" style="height:65px">
							</span>
						</a> *@

						<a asp-controller="Home" asp-action="Index" class="logo logo-light">
							<span class="logo-sm">
								<img src="#" alt="" style="height:50px">
							</span>
							<span class="logo-lg">
								<img src="#" alt="" style="height:65px">
							</span>
						</a>
					</div>

					<!-- Toggle Menu Button -->
					<button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect" id="vertical-menu-btn">
						<i class="fa fa-fw fa-bars"></i>
					</button>
				</div>

				@* <div class="d-flex align-items-center">
					<!-- Search Icon (Mobile) -->
					<div class="dropdown d-inline-block d-lg-none ms-2">
						<button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
								data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="mdi mdi-magnify"></i>
						</button>
						<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
							 aria-labelledby="page-header-search-dropdown">
							<form class="p-3">
								<div class="form-group m-0">
									<div class="input-group">
										<input type="text" class="form-control" placeholder="Search ..." aria-label="Search">
										<button class="btn btn-primary" type="submit">
											<i class="mdi mdi-magnify"></i>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div> *@
			</div>
		</header>

		<div class="vertical-menu">

			<div data-simplebar class="h-100">

				<!--- Sidemenu -->
				<div id="sidebar-menu">
					<!-- Left Menu Start -->
					<ul class="metismenu list-unstyled" id="side-menu">
						<li>
							<a href="javascript: void(0);" class="has-arrow waves-effect">
								<i class="bx bxl-html5"></i>
								<span key="t-forms">HTML</span>
							</a>
							<ul class="sub-menu" aria-expanded="false">
								<li><a asp-controller="HTMLSection" asp-action="HTMLIntroduction" key="t-default">Introduction</a></li>
								<li><a asp-controller="HTMLSection" asp-action="HTMLBasic" key="t-default">HTML Basic</a></li>
							</ul>
						</li>

						<li>
							<a href="javascript: void(0);" class="has-arrow waves-effect">
								<i class="bx bxl-css3"></i>
								<span key="t-forms">CSS</span>
							</a>
							<ul class="sub-menu" aria-expanded="false">
								 
							</ul>
						</li>
					</ul>
				</div>
				<!-- Sidebar -->
			</div>
		</div>



	</div>
	<!-- END layout-wrapper -->
	<!-- main content-->
	<div class="main-content">

		<div class="page-content">
			<div class="container-fluid">
				@RenderBody()
			</div> <!-- container-fluid -->
		</div>
		<!-- End Page-content -->



		<footer class="border-top footer text-muted">
			<div class="container">
				&copy;  <script>document.write(new Date().getFullYear())</script> - Code-S-point - <a asp-area="" asp-controller="" asp-action="">Privacy</a>
			</div>
		</footer>

	</div>
	<!-- end main content-->


	



	<!-- JAVASCRIPT -->
	<script src="~/AdminTemplate/assets/libs/jquery/jquery.min.js"></script>
	<script src="~/AdminTemplate/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/AdminTemplate/assets/libs/metismenu/metisMenu.min.js"></script>
	<script src="~/AdminTemplate/assets/libs/simplebar/simplebar.min.js"></script>
	<script src="~/AdminTemplate/assets/libs/node-waves/waves.min.js"></script>

	<!-- apexcharts -->
	<script src="~/AdminTemplate/assets/libs/apexcharts/apexcharts.min.js"></script>

	<!-- file-manager js -->
	<script src="~/AdminTemplate/assets/js/pages/file-manager.init.js"></script>

	<script src="~/AdminTemplate/assets/js/app.js"></script>
	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>



</body>
</html>
